@import './variables';
@import './menu';

* {
    box-sizing: border-box;
    margin:0;
    padding:0;
}

body{
    background:#0c0c0c;
    scroll-behavior: smooth;
}

.ghost--icon {
    filter:invert(1);
    width:1rem;
    margin-left:1.5em;
}
    /* Main text */
.home{
    height:80vh;
    display:flex;
    flex-direction: column;
    margin:0 auto;
    margin-left:12vw;
    margin-top:20vh;

    .image--home{
        position:absolute;
        z-index: -1;
        width:20%;
        right:10px;
        bottom:-20vh;
        overflow: hidden;
    }

    &__nome{
        font-size:8rem;
        color:white;
        margin-top:1rem;
        h3{
            border:2px solid
        }
    }
    &__sobrenome{
            color:#8338ec;
    }
}
.home--p{
    color:rgb(133, 133, 133);
    width:50%;
    font-size:1rem;
    font-weight: bolder;
}
.home--p__m{
    color:#575757;
    text-transform: uppercase;
    font-weight: 50;
    width:58%;
    letter-spacing: 0.625rem;
    margin-top:-1.4rem;
    text-align: end;
}
.home--text__small{
    color:$text-light;
    letter-spacing: 5px;
}
.auto-type{
    color:#fff;
}
.home--p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
    font-size:1.2rem;
    width:60%;
    color:rgb(96, 96, 96);
    padding:2rem;
    line-height: 1.5rem;
}

.btn--home{
    width:20vw;
    height:7vh;
    margin-left: 10%;
}

.sobre {
    margin-left:15%;
    margin-right:10%;
    color: #ebebeb;
    background: rgba(255, 255, 255, 0);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(8.5px);
-webkit-backdrop-filter: blur(8.5px);
border: 1px solid rgba(255, 255, 255, 0.3);

    .title--sobre{
        font-size:3rem;
        margin-bottom: 2vh;
        display:flex;
        justify-content: center;
        margin-top:0.8rem;
        &:hover{
            font-size:3.1rem;
            color:#429cbf;
        }
    }
    .p--sobre{
        width:90%;
        margin:0 auto;
        text-decoration: none;
        font-size:1.25rem;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin-bottom: 4vh;
        color:#ebebeb;
        a {
            color:#ebebeb;
        }
        a:hover {
            color: #1d5a72;
        }
    }
    .p--sobre::before{
        content:'';
        margin-left: 0.625rem;
        margin-right: 0.625rem;
        border-left: 0.1875rem solid white;
    }
}

.exp--pro{
    margin-top:2.5rem;
    margin-left: 10%;
    margin-bottom:1rem;
    color:white;
    display:flex;
    align-items: center;
    justify-content: center;
    .title--exp{
        font-size:2em;
    &__info {
        font-size:0.5em;
        text-align:center;
        margin-top:1vh;
        margin-left:2vw;
    }
    }
}
.skills--title {
    font-size:1.5rem;
    color:#ebebeb;
    text-align: center;
}
.container--tec{
    background-color: #ebebeb;
    display:flex;
    align-items: center;
    justify-content: space-around;
    padding:2rem;
    color: #0e0e0e;
    margin-top:2rem;
    margin-bottom:3rem;
    &__items{
        margin:0 auto;
        padding:1rem;
        font-weight: 600;
        text-align: center;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        align-items: center;
    }
}
.img--tec{
    width:4.3rem;
    height:4.3rem;
    display:flex;
    align-items: center;
    justify-items: center;
    margin-bottom:0.4rem;
}

.projetos {
    color:#ebebeb;
    display:flex;
    justify-content: center;
    gap:1.2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top:1.25rem;
    margin-left:10%;
    margin-right:5%;
    .title--projetos{
    margin:auto 0;
    }
    .projeto--titulo__g{
        font-size:1rem;
        text-transform: uppercase;
        letter-spacing: 3px;
        display:flex;
        justify-content: center;
    }
    .projeto--info{
        margin:0 auto;
        padding:0.6rem;
        font-size:0.85rem;
    }
    .projeto--item{
        background-color:#161616;
        padding:0.3rem;
        border:1px solid white;
    }
    .btn-flex{
        display:flex;
        flex-direction: row;
        justify-content:space-between;
        padding:0.4rem;
        align-items:center;
    }
}

.button-project{
    display:flex;
    justify-content: space-between;
    flex-direction: column;
    margin:50%;
}

#kirby{
    position: absolute;
    width:10rem;
    margin-top:1rem;
    z-index:1;
    right:0;
}

.contato{
    display:grid;
    grid-template-columns:2fr 2fr;
    margin-top:3rem;
    margin-bottom:1rem;
    gap:1rem;
    margin-left:20%;
    color: #ebebeb;
}

footer{
    background-color:#171717;
    display:flex;
    height:2.8rem;
    align-items: center;
    justify-content: center;
    color:#ebebeb;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html {
    scroll-behavior: smooth;
}

//media queries para responsividade
// em outros dispositivos
@media (max-width:600px){
.home{
    .home__nome{
        margin-top:1rem;
        font-size:3.5rem;
        line-height: 2rem;
        margin-bottom:2rem;
    }
    .home--p{
        font-size:1.3rem;
        width:100%;
        margin:0 auto;
        &__m{
            font-size:0.6rem;
            width:80vw;
            letter-spacing: 0.3rem;
        }
   }
}
.btn--home{
    margin:0 auto;
}
.sobre{
    width:85vw;
    margin:0 auto;
    }
.container--tec {
        display:grid;
        grid-template-columns: 1fr 1fr;
        padding:0.5rem;
        margin-top:1rem;
        margin-bottom:1rem;
}
.projetos{
        display:grid;
        gap:1.5rem;
        .title--projetos{
            display:flex;
            justify-content: center;
    }
}
.contato {
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin:0 auto;
    width:80%;
    margin-top:1rem;
    }
#kirby{
        width:3rem;
        margin-top:10rem;
    }
}

@media screen and (max-width: 980px) {
.home__nome{
        font-size:7rem;
        margin-top:0;
        line-height: 6rem;
        margin-bottom:1rem;
    }
.home--p{
    font-size:1.2rem;
    width:90%;
        &__m{
            font-size:1rem;
            letter-spacing: 0.3rem;
            margin-top:-0.5rem;
            width:90%;
    }
}
.container--tec {
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding:0.5rem;
        margin-top:1rem;
        margin-bottom:1rem;
}
.projetos{
        display:grid;
        gap:1.5rem;
        .title--projetos{
            display:flex;
            justify-content: center;
    }
}
.contato{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:1rem auto 0  auto;
    width:80%;
    button{
        margin-bottom:1rem;
    }
    }
#kirby{
        width:7rem;
        margin-top:9rem;
    }
}